{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}

<br>
<h2 class='text-center'>Formulário para entrada de registros</h2>
<br>
<p class='text-justify'>Para entrar com um novo registro mensal, você deve preparar um arquivo de texto com o formato .json. O conteúdo desse arquivo deve seguir o seguinte formato: {"pendencias":"<span>&#60;</span>Número de pendências<span>&#62;</span>","notas":"<span>&#60;</span>Número de notas emitidas<span>&#62;</span>}". Evite esquecer o acento circunflexo em "pendências". Exemplo:{"pêndencias":"5","notas":"2"}</p>
<p>Além disso, é necessário que você indique a empresa a que o registro se refere, juntamente com o seu mês e ano.</p>
<p class='text-justify'>Quando você entrar com os dados, você será automaticamente direcionado para a nossa tabela de cadastros, com o valor do índice de confiabilidade atualizado.</p>
<p class='text-justify'>Todos os registros podem ser acessados na aba "Registros" na barra de navegação.</p>
<br>
<div class = 'container'>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button type='submit' class='btn btn-success'>Enviar</button>
    </form>

</div>
<br>
{% if raiseAlert %}
    <script src="{% static 'js/alert.js' %}"></script>
{% endif %}
{% endblock %}
