{% extends 'base.html' %}
{% block content %}
<div id='cadastroDeEmpresas' >
    {% if listaDeEmpresas %}
    <br>
    <h2 class = 'text-center'>Índices de Confiabilidade</h2>
    <br>
        <table class="table table-striped" id='tabelaDeRegistros'>
            <thead>
                <tr>
                    <th class='text-center' scope="col">Identificador</th>
                    <th class='text-center' scope="col">Nome da empresa</th>
                    <th class='text-center'>Quantidade de notas emitidas</th>
                    <th class='text-center'>Quantidade de pendências</th>
                    <th class='text-center' scope="col" class = 'text-center'>Grau de confiança</th>
                </tr>
            </thead>
            <tbody>
                {% for empresa in listaDeEmpresas %}
                    <tr>
                        <td class='text-center'>{{ empresa.id }}</td>
                        <td class='text-center'>{{ empresa.nomeDaEmpresa }}</td>
                        <td class='text-center'>{{ empresa.qtdDeNotasEmitidas }}</td>
                        <td class='text-center'>{{ empresa.qtdDePendencias }}</td>
                        <td class='text-center'>{{ empresa.indiceDeConf }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <br>
        <h2 class="text-center">Sem lista de empresas. Por favor rode o comando "python popularBancoDeDados.py" para popular o banco de dados, ou clique no botão abaixo para fazer o mesmo.</h2>
        <form class='text-center' method="POST">
            <br>
            <button class="btn btn-primary text-center" type='submit'>Criar cadastro de empresas</button>
            {% csrf_token %}
            <br>
        </form>
    <br>

    {% endif %}
</div>
{% endblock %}
