{% extends 'base.html' %}
{% block content %}
<br>
<div>
    {% if listaDeEmpresas %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class='text-center' scope="col">Nome da empresa</th>
                    <th class='text-center'>Quantidade de notas emitidas</th>
                    <th class='text-center'>Quantidade de pendências</th>
                    <th class='text-center' scope="col" class = 'text-center'>Grau de confiança</th>
                </tr>
            </thead>
            <tbody>
                {% for empresa in listaDeEmpresas %}
                    <tr>
                        <td class='text-center'>{{ empresa.nomeDaEmpresa }}</td>
                        <td class='text-center'>{{ empresa.qtdDeNotasEmitidas }}</td>
                        <td class='text-center'>{{ empresa.qtdDePendencias }}</td>
                        <td class = 'text-center'>{{ empresa.indiceDeConf }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Sem lista de empresas</p>
    {% endif %}
</div>
{% endblock %}
